@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}


/* Navbar */
a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: #43a047;
  padding: 20px;
  color: white;
}

/* gallery */
.gallery {
  display: grid;
  gap: 10px;
}

.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery .photo {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  text-shadow: 0px 0px 5px black;
}

.gallery .photo:hover {
  box-shadow: 0px 0px 2px 1px #00000070;
}

.gallery .photo svg {
  align-self: flex-end;
}

.gallery .photo p {
  margin: 0;
}

.gallery .photo .title {
  font-size: 1.2rem;
}

.p-3 {
  padding: 30px;
}

.message {
  grid-column: span 4;
}